[class^="col"] {
  padding: 0px !important;
  margin: 0px !important;
}

#code-wrapper {
  height: 300px;
}

#history-wrapper {
  border: solid 5px rgb(115, 0, 223);
  height: 400px;
}

.message-wrapper {
  height: 400px;
  padding-left:30px !important;
}

h3, .row-header {
  color: rgb(219, 124, 0);
  height:40px;
  background: lightgray;
  border-bottom: solid 2px #c3c3c3;
  text-align: center;
}

.history-list {
  background: lightblue;
  padding: 10px;
}