#graph-wrapper {
  border: solid 5px red;
  padding: 0px;
  margin: 0px;
  background-color: red;
}

#properties-wrapper {
  border: solid 5px blue;
  height: 100%;
}

[class^="col"] {
  padding: 0px !important;
  margin: 0px !important;
}

#properties-wrapper h3 {
  color: blue;
  background: lightgray;
  border-bottom: solid 2px #c3c3c3;
  text-align: center;
}

#code-wrapper {
  border: solid 5px green;
  height: 400px;
}

#code-wrapper h3 {
  color: green;
  background: lightgray;
  border-bottom: solid 2px #c3c3c3;
  text-align: center;
}

#history-wrapper {
  border: solid 5px rgb(115, 0, 223);
  height: 400px;
}

#history-wrapper h3 {
  color: rgb(115, 0, 223);
  background: lightgray;
  border-bottom: solid 2px #c3c3c3;
  text-align: center;
}

#message-wrapper {
  border: solid 5px rgb(219, 124, 0);
  height: 400px;
}

#message-wrapper h3 {
  color: rgb(219, 124, 0);
  background: lightgray;
  border-bottom: solid 2px #c3c3c3;
  text-align: center;
}
