[class^="col"] {
  padding: 0px !important;
  margin: 0px !important;
}

#code-wrapper {
  height: 300px;
}

#history-wrapper {
  border: solid 5px rgb(115, 0, 223);
  height: 400px;
}

.message-wrapper {
  height: 400px;
  padding-left:30px !important;
}

h3, .row-header {
  color: #616161;
  height:40px;
  background: lightgray;
  border-bottom: solid 2px #c3c3c3;
  text-align: center;
}

.history-list {
  background: lightblue;
  padding: 10px;
}

.info-panel {
  padding:10px;
}

#graph-wrapper {
  min-height:500px;
}

.properties-wrapper {
  border-left:solid 1px lightgray;
  padding: 0px !important;
}

.message-wrapper li {
  color:red;
  background:lightblue;
  margin-bottom: 10px;
}

.message-wrapper li p {
  color:red;
}

.property-key {
  text-transform: capitalize;
  font-weight: bolder;
}

.property-value {
  text-transform: capitalize;
  color: darkblue;
}

.display-type-panel {
  border:solid 1px darkgray;
  background: lightgray;
  width:75px !important;
  min-height:500px;
}