.my-container {
  max-height:100%;
}

[class^="col"] {
  padding: 0px !important;
  margin: 0px !important;
}

#inner-row-1 {
  height:50vh;
  max-height:50vh;
}
#inner-row-2 {
  height:20vh;
  max-height:20vh;
}
#inner-row-3 {
  height:30vh;
  max-height:30vh;
  flex-wrap: unset;
}

#code-wrapper {
  height:100%;
  max-height:100%;
}

.history-wrapper {
  border:solid 1px lightgray;
  border-radius: 10px;
  margin:20px 0px 0px 0px !important;
  padding:0px !important;
  width:90%;
  height:85%;
  max-height:85%;
  overflow: auto;
}

.history-wrapper h3 {
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  text-align: center;
  
}

.history-list {
  background: lightgray;
  padding: 10px;
  margin-bottom: 10px; 

}

.history-list-wrapper {
  height: 84% !important;
  max-height: 84% !important;
  
  width: 100%;
  background-color: #ffffff;
}

.event-list-wrapper {
  height: 85% !important;
  overflow: auto;
  width: 100%;
  background-color: #ffffff;
}

.event-list {
  background: lightgray;
  padding: 10px;
  margin-bottom: 10px; 
}

.message-wrapper {
  height: 400px;
  padding-left:30px !important;
}

h3, .row-header {
  color: #616161;
  height:40px;
  background: lightgray;
  border-bottom: solid 2px #c3c3c3;
  padding-left:20px;
}

.info-panel {
  padding:10px;
}

#graph-wrapper {
  min-height:500px;
  text-align:center;
}

#graph-wrapper .graph-label {
  margin-top:200px;
  font-style: italic;
  font-size: larger;
  font-weight: bolder;
}

.properties-wrapper {
  border:solid 1px lightgray;
  border-radius: 10px;
  margin: 20px 20px 20px 20px !important;
  padding:0px !important;
}

.properties-wrapper h3 {
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  text-align: center;
}

.property-key {
  text-transform: capitalize;
  font-weight: bolder;
}

.property-value {
  text-transform: capitalize;
  color: darkblue;
}

.display-type-panel {
  border:solid 1px darkgray;
  background: lightgray;
  width:75px !important;
  min-height:500px;
}

.pretty-json {
  overflow: auto;
  text-align:left;
  padding: 10px;
}